<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="node_modules/vue/dist/vue.js"></script>

</head>
<body>
<div id="app">
   <input type="checkbox" v-model="hobby" value="Lol">Lol
    <input type="checkbox" v-model="hobby" value="吃鸡">吃鸡
     <input type="checkbox" v-model="hobby" value="英雄联盟">英雄联盟
    <form>
       姓名：<input type="text" v-model="user.name">
        年龄：<input type="text" v-model="user.age">


    </form>

</div>
</body>
<script type="application/javascript">
    var app=new Vue({
        el:"#app",
        data:{
            hobby:[],
            user:{},

        }


    });


</script>
</html>